body{
    background-image: linear-gradient(to right, rgb(233, 181, 230),rgb(212, 110, 190), rgb(202, 90, 202));
    font-size: larger;
    color: black;
    display: flex;
    text-align: center;
}

h1{
    color: white;
}

nav{
    background-color: rgb(155, 60, 145);
    border-radius: 20px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: black;
}